section.tab-header

    ul#tab-nav.tabs
                
        //- li#js(href=site.url + "render/js", key="js") JavaScript
        
        //- li#html(href=site.url + "render/html", key="html") HTML
        
        //- li#php(href=site.url + "render/php", key="php") PHP
        
        //- li#css(href=site.url + "render/css", key="css") CSS
        
        //- li#sass(href=site.url + "render/sass", key="sass") SASS
        
        //- li#stylus(href=site.url + "render/stylus", key="stylus") Stylus
